<html>
<h1>Архив статей</h1>
 <body>
 <body>
 <div class="header">
 </div>
 {% for post in posts %}
 <div class="one-post">
 <h2 class="post-title">{{ post.title }}</h2>
 <div class="article-info">
 <div class="article-author">{{ post.author.username }}</div>
 <div class="article-createddate">{{ post.created_date }}</div>
 </div>
 <p class="article-text">{{ post.get_excerpt }}</p>
 </div>
{% endfor %}
 
 </body> 
</html>