<!DOCTYPE html>
39
<html>
<head>
<title>Django Public Blog - создать статью</title>
</head>
<body>
<div class="content">
<h1>Написать статью</h1>
<form method="POST">{% csrf_token %}
<input type="text" name="title" placeholder="Название
статьи" value="{{ form.title }}">
<br><br>
<textarea name="text" placeholder="Текст
статьи">{{ form.text }}</textarea>
<br><br>
<input type="submit" value="Сохранить">
</form>
{{ form.errors }}
</div>
</body>
</html>